<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <title>Results</title>
</head>
<body class="light-blue lighten-5">
<div class="container">
  <div class="card">
    <h3>Submitted information</h3>
    <p>Name: <%= users.name%></p>
    <p>Dojo: <%= users.dojo%></p>
    <p>Name: <%= users.language%></p>
    <p>Name: <%= users.comment%></p>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>